body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background:#f8f8f8;
    color: #333;
}
#content a {
    color: #369;
}
.contentlist {
    list-style: square;
}
.contentlist li {
    line-height: 1.3;
    padding-bottom: 5px;
}
.hide {
    display: none;
}
form {
    background: #f8f8f8;
    padding: 1em;
}
small {
    background: #333;
    color: #ccc;
    padding: 5px 10px;
    display: block;
}
small a {
    color: #fff;
}
#results {
    margin: 0 1em;
}
table {
    margin: 1em;
    width: calc(100% - 2em);
    border-collapse: collapse;
}
table a {
    color: #369;
}
th, td {
    padding: 2px 5px;
}
th {
    background: #369;
    color: #fff;
}
tr:nth-child(even){
    background: #ccc;
}
tr:nth-child(odd){
    background: #eee;
}
.cloud {
    margin: 1em;
    padding: 0;
}
.cloud a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 2px 5px;
    transition: 200ms;
}
.cloud a:hover {
    background: lime;
    color: black;
    transform:scale(1.5);
}
.cloud li {
    display: inline-block;
}
.cloud li:after {
    content: ', ';
}
#hero {
    display: block;
}
#navigation {
    background: #333;
    margin: 0;
    padding: 0 10px;
}
#navigation li {
    display: inline-block;
}
#navigation a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px;
}
#navigation a:hover, #navigation strong {
    display: block;
    color: #000;
    background:#f8f8f8;
    padding: 5px;
}
#content {
    padding: 1em 3em;
}
.photo {
    float: right;
    text-decoration: none;
}