body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background:#000;
    color: #fff;
}
#content a {
    color: #369;
}
#content ul {
    list-style: square;
}
#content li {
    line-height: 1.3;
    padding-bottom: 5px;
}
.hide {
    display: none;
}
form {
    background: #369;
    padding: 1em;
    color: #fff;
}
small {
    background: #333;
    color: #ccc;
    padding: 5px 10px;
    display: block;
}
label {
    padding: .5em;
}
label:first-of-type {
    padding-left: 0;
}
#content small a {
    color: #fff;
}
#results {
    margin: 0 1em;
}
table {
    margin: 1em 0;
    width: 100%;
    border-collapse: collapse;
}
table a {
    color: #369;
}
th, td {
    padding: 2px 5px;
}
th {
    background: #369;
    color: #fff;
}
tr:nth-child(even){
    background: #ccc;
}
tr:nth-child(odd){
    background: #eee;
}
.cloud {
    margin: 1em;
    padding: 0;
}
.cloud a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 2px 5px;
    transition: 200ms;
}
#content .cloud a:hover {
    background: #369;
    color: #fff;
    transform:scale(1.5);
}
.cloud li {
    display: inline-block;
}
.cloud li:after {
    content: ', ';
}
#hero {
    display: block;
}
#navigation {
    background: #333;
    margin: 0;
    padding: 0 10px;
}
#navigation li {
    display: inline-block;
}
#navigation a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}
#navigation a:hover, #navigation strong {
    display: block;
    color: #000;
    background:#f8f8f8;
    padding: 5px 10px;
}
#content {
    padding: 1em 3em;
    background: #f8f8f8;
    color:#333;
}
.photo {
    float: right;
    text-decoration: none;
}

footer {
    display: block;
    background: black;
    color: #999;
    text-align: center;
    padding: 1em 1em 2em 1em;
    font-size: .8em;
}
footer a {
    color: #ccc;
}
footer p {
    margin: 0;
    padding-bottom: .5em;
}